@media screen and (min-width:576px) {
    .grande-titulo { /*esto habla del párrafo que dice Un lugar para descansar*/
        font-size: 2.2em;
    }
    .pequeño-subtitulo {
        font-size: 0.8em;
        visibility: none;
    }
    .video-fondo{ /*esta clase habla únicamente del video de fondo*/
        top: -28px;
    }
    .sobre-video { /*esto habla de todo lo que está sobre el video, pero excluye el video de fondo*/
        height: calc( 100% - 28px );
    }
    .grid-container-footer {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "logo logo"
        "menu menu"
        "contacto horarios"
        "insta insta"
        "derechos derechos";
    }
}
@media screen and (min-width:768px) {
    .video-fondo{ /*esta clase habla únicamente del video de fondo*/
        top: -36px;
    }
    .grande-titulo { /*esto habla del párrafo que dice Un lugar para descansar*/
        font-size: 2.4em;
    }
    .pequeño-subtitulo {
        font-size: 0.9em;
        visibility: visible;
    }
    .navbar-toggler {
        display: none;
    }
    .flex-container-nav {
        @include flex(row, wrap, flex-start, center, 1em);
    }
    .sobre-video { /*esto habla de todo lo que está sobre el video, pero excluye el video de fondo*/
        height: calc( 100% - 36px );
    }
    .flex-container-simg {
        @include flexSimple(column, center, center);
        height: calc(100% - 96px);
    }
    .grid-container-nav {
        grid-template-columns: 120px 7fr 1fr;
        grid-template-rows: 96px;
    }
    .grid-item-pais {
        grid-column: 3;
    }
    .flex-container-paises {
        @include flex(row, nowrap, flex-end, center, 0.3em);
        padding-right: 0.5em;
    }
    .container {
        .box {
            flex-direction: row;
            .columna {
                width: 32.5%;
            }
        }
    }
}
@media screen and (min-width:992px) {
    .video-fondo{ /*esta clase habla únicamente del video de fondo*/
        top: -42px;
    }
    .grande-titulo { /*esto habla del párrafo que dice Un lugar para descansar*/
        font-size: 2.6em;
    }
    .pequeño-subtitulo {
        font-size: 1em;
        visibility: visible;
    }
    .sobre-video { /*esto habla de todo lo que está sobre el video, pero excluye el video de fondo*/
        height: calc( 100% - 42px );
    }
    .carousel-comentarios {
        display: none;
    }
    .row-comentarios {
        display: flex;
    }
}
@media screen and (min-width:1200px) {
    .video-fondo{ /*esta clase habla únicamente del video de fondo*/
        top: -49px;
    }
    .grande-titulo { /*esto habla del párrafo que dice Un lugar para descansar*/
        font-size: 2.8em;
    }
    .pequeño-subtitulo {
        font-size: 1.1em;
        visibility: visible;
    }
    .sobre-video { /*esto habla de todo lo que está sobre el video, pero excluye el video de fondo*/
        height: calc( 100% - 49px );
    }
}
@media screen and (min-width:1400px) {
    .video-fondo{ /*esta clase habla únicamente del video de fondo*/
        top: -52px;
    }
    .grande-titulo { /*esto habla del párrafo que dice Un lugar para descansar*/
        font-size: 3em;
    }
    .pequeño-subtitulo {
        font-size: 1.2em;
        visibility: visible;
    }
    .sobre-video { /*esto habla de todo lo que está sobre el video, pero excluye el video de fondo*/
        height: calc( 100% - 52px );
    }
}
@media screen and (max-width: 767px) {
    .flex-container-svideo {
        @include flexSimple(column, center, center);
        height: calc( 100% - 146px);
    }    
    div {
        &.idiomas {
            position: relative;
            bottom: 40px
        }
    }
    .galeria-de-imagenes-div { /*esto es cada una de las imágenes en la galería del inicio*/
        @include flexSimple(column, center, center);
    }
}