section {
    padding: 10vh 0 10vh 0;
}
.titulo-seccion { /*esto son los títulos de cada sección*/
    font-family: $fontHeadings;
    font-weight: 450;
    font-size: 2.5em;
    padding-bottom: 1em;
    color: $colorTitulos;
}
